body {
    font-family: 'Montserrat', sans-serif;
}

#servicios {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "item1 item2 item3";
    gap: 10px;
    width: 80%;
}

.item1 {
    grid-area: item1;
}

.item2 {
    grid-area: item2;
}

.item3 {
    grid-area: item3;
}

.icono1 {
    width: 100%;
}

.icono2 {
    width: 100%;
}

.icono3 {
    width: 100%;
}